body{
    background-color: rgb(30, 28, 28);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}

.tofind{
    color: white;
    letter-spacing: 20px;
    font-size: 100px;
    font-weight: bold;
}

.attemps{
    color: white;
    font-size: 30px;
}

.victory{
    color: white;
    font-size: 60px;
    font-weight: bold;
}